.input-container p{
    color: var(--Smokey-grey);
    font-weight: bold;
}
.input-container input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    margin: 5px 0 5px 0;
    padding-left: 10px;
    box-sizing: border-box;
    width: 90px;
    height: 40px;
    border: 1px solid var(--Light-grey);
    border-radius: 5px;
    font-weight: bold;
}

.input-container input:focus {
    border: 1px solid var(--Purple);
}

.input-container input[type="number"]::-webkit-inner-spin-button,
.input-container input[type="number"]::-webkit-outer-spin-button,
.input-container input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}


.error {
    & p {
        color: var(--Light-red) !important;
    }
    & input {
        border-color: var(--Light-red);
    }
    & .error-message {
        color: var(--Light-red);
        font-size: 9px;
        font-weight: normal;
        font-style: italic;
    }
}
